@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


.main-font {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
    overflow-x: hidden;
    @apply bg-green-900; 
}

.button {
    @apply px-12 py-2 text-gray-100 bg-green-800 rounded-full hover:bg-green-400 hover:text-white duration-300 ease-in-out shadow-md disabled:bg-gray-600 disabled:text-gray-400;
}

.select_option {
    @apply px-12 py-2 text-black bg-white rounded-full shadow-md hover:text-gray-400 duration-300 ease-in-out disabled:bg-gray-600 disabled:text-gray-400 border-2 border-gray-300;
}

.content_even {
    @apply text-center bg-gray-100 rounded-lg my-0.5 flex w-full border-2 border-gray-300 hover:text-white hover:bg-green-400 duration-300 ease-in-out;
}

.content_even p {
    @apply w-full py-4;
}

.content_odd {
    @apply text-center bg-gray-50 rounded-lg my-0.5 flex w-full border-2 border-gray-300  hover:text-white hover:bg-green-400 duration-300 ease-in-out;
}

.content_odd p {
    @apply w-full py-4;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
